@import "../variables";


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  min-width: 80%;
  background-color: $secondary-color;
  border: 1px solid $border-color;
  border-radius: 3rem;
  padding: 1.25rem;

  &__question {
    text-align: center;
    padding: 1.25rem;

    &__text {
      margin-top: 1.25rem;
    }
  }

  &__answer {
    display: flex;
    flex-direction: column;

    .answer__btn {
      @include btn;
      word-break: break-word;

    }
  }

  &__difficulty {
    display: flex;
    flex-direction: column;
  }

  &__difficulty-btn {
    @include btn;
    font-weight: 8000;

  }

  &__score {
    display: flex;
    flex-direction: column;
    margin: 1.25rem;

  }

  &__score-reset-btn {
    @include btn;
    font-weight: 900;

  }

  &__time {
    margin: 1.25rem;
  }
}