@mixin icon-size {
  width: 6.25rem;
  height: 6.25rem;
  background-size: 3.75rem;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
  transform: rotate(-360deg);
}

@mixin rotation {
  transform: rotate(360deg);
}

.icons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.625rem 0.625rem;
  grid-auto-flow: row dense;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "icons-grid__html icons-grid__css icons-grid__sass"
    "icons-grid__js icons-grid__es6 icon__react"
    "icon_github icons-grid__webpack icons-grid__ws";


  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "icons-grid__html icons-grid__css"
    "icons-grid__js icons-grid__sass"
    "icons-grid__es6 icon__react"
    "icon_github icons-grid__webpack"
    "icons-grid__ws icons-grid__ws";
  }

  .icons__rotation {
    @include rotation;
  }

  &__html {
    grid-area: icons-grid__html;
    background-image: url(../icons/free_icon_1_html.svg);
    @include icon-size
  }

  &__css {
    grid-area: icons-grid__css;
    background-image: url(../icons/free_icon_1_css.svg);
    @include icon-size
  }

  &__sass {
    grid-area: icons-grid__sass;
    background-image: url(../icons/free_icon_1_sass.svg);
    @include icon-size
  }

  &__js {
    grid-area: icons-grid__js;
    background-image: url(../icons/free_icon_1_js.svg);
    @include icon-size
  }

  &__es6 {
    grid-area: icons-grid__es6;
    background-image: url(../icons/free_icon_1_es6.svg);
    @include icon-size
  }

  &__react {
    grid-area: icon__react;
    background-image: url(../icons/free_icon_1_react.svg);
    @include icon-size
  }

  &__github {
    grid-area: icon_github;
    background-image: url(../icons/free_icon_1_github.svg);
    @include icon-size
  }

  &__webpack {
    grid-area: icons-grid__webpack;
    background-image: url(../icons/free_icon_1_webpack.svg);
    @include icon-size
  }

  &__ws {
    grid-area: icons-grid__ws;
    background-image: url(../icons/free_icon_1_webstorm.svg);
    @include icon-size
  }


  &__html:hover {
    background-image: url(../icons/free_icon_1_html_color.svg);
    @include rotation;
  }

  &__css:hover {
    background-image: url(../icons/free_icon_1_css_color.svg);
    @include rotation;
  }

  &__sass:hover {
    background-image: url(../icons/free_icon_1_sass_color.svg);
    @include rotation;
  }

  &__js:hover {
    background-image: url(../icons/free_icon_1_js_color.svg);
    @include rotation;
  }

  &__es6:hover {
    background-image: url(../icons/free_icon_1_es6_color.svg);
    @include rotation;
  }

  &__react:hover {
    background-image: url(../icons/free_icon_1_react_color.svg);
    @include rotation;
  }

  &__github:hover {
    background-image: url(../icons/free_icon_1_github.svg);
    @include rotation;
  }

  &__webpack:hover {
    background-image: url(../icons/free_icon_1_webpack.svg);
    @include rotation;
  }

  &__ws:hover {
    background-image: url(../icons/free_icon_1_webstorm_color.svg);
    @include rotation;
  }
}

.text {
  display: grid;
  grid-row-gap: 1.875rem;
}

.btn__contact {
  @include btn;
}



