@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "../variables";

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: $secondary-color;
  border: 1px solid $border-color;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  width: 100%;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    height: 7rem;
  }

  &__link {
    color: $primary-color;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    display: inline-block;
    width: 9rem;
    transition: all 0.2s ease-in-out;
  }

  &__link:hover {
    color: $white;
  }
}









