@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "../variables";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: $secondary-color;
  border: 1px solid $border-color;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  width: 100%;
  margin-top: auto;

  @media screen and (max-width: 800px) {
    height: 3rem;
  }

  &__link {
    color: $primary-color;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 300;
    width: 9rem;
  }

}









